@model IEnumerable<movie_theater.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketMovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketSalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStudioCutPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketProfilePerItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketMovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketSalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStudioCutPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketProfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketProfilePerItem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
